{% trans_default_domain 'sfs_account_admin' %}
{% extends '@SfsAccountAdmin/account/base.html.twig' %}

{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title %}- {{ parent() }}{{ 'create.page.title'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'create.title'|trans }}</h1>
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <input id="create_admin_submit" type="submit" class="btn btn-primary" value="{{ 'create.actions.submit'|trans }}" />
    <a class="btn btn-light" href="{{ url('sfs_account_admin_list') }}">{{ 'create.actions.cancel'|trans }}</a>
    {{ form_end(form) }}
{% endblock content %}