{% trans_default_domain 'sfs_account_admin' %}
{% extends '@SfsAccountAdmin/account/base.html.twig' %}

{% block title %}- {{ parent() }}{{ 'search.page.title'|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <h1>{{ 'search.title'|trans }}</h1>
        </div>

        <div class="col-6 text-right">
            <a class="btn btn-light" href="{{ url('sfs_account_admin_create') }}">Create account</a>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>{{ 'search.fields.name.header'|trans }}</th>
            <th>&nbsp;</th>
        </tr>
        </thead>

        <tbody>
        {% for account in account %}
            <tr>
                <td>{{ account.name }}</td>
                <td>
                    <a href="{{ url('sfs_account_admin_update', {'account': account.id}) }}"
                       title="{{ 'search.actions.update.title'|trans }}"
                    >{{ 'search.actions.update.button'|trans }}</a>
                    <a href="{{ url('sfs_account_admin_delete', {'account': account.id}) }}"
                       onclick="return confirm('{{ 'search.actions.delete.confirm'|trans }}')"
                       title="{{ 'search.actions.delete.title'|trans }}"
                    >{{ 'search.actions.delete.button'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}